<section data-ng-controller="HomeController">

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <img src="/images/documentum_check.png"/>

                <h1 translate>jambo_slogan</h1>

                <p translate>jambo_subslogan</p>

                <p>
                    <a class="btn btn-primary btn-lg" href="#!/explorer" role="button">
                        <i class="fa fa-sign-in"/>
                        <span translate>learn_more</span></a>
                    <a class="btn btn-info btn-lg" href="/docs/index.html" role="button">
                        <i class="fa fa-book"/>
                        <span translate>api_link</span>
                    </a>
                </p>

            </div>

        </div>

    </div>

</section>
