<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Documentum UI Infractructure For Bank Hapoalim</h1>

                <p>
                    Fast developing better applications.
                </p>

                <p>
                    <a class="btn btn-primary btn-lg" href="#!/explorer" role="button">Learn more</a>
                    <a class="btn btn-info btn-lg" href="/docs/index.html" role="button">Api as ng-docs</a>
                </p>
            </div>
        </div>
    </div>

</section>
