<div data-ng-controller="EditorController">
    <div class="row">
        <div class="col-md-12">
            <h3 translate>last_documents</h3>
            <table
                    class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th><span translate>title</span></th>
                    <th><span translate>created</span></th>
                    <th><span translate>author</span></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in lastDocuments">
                    <td>
                        <i title="{{data.content.properties.r_object_type}}"
                           class="ng-class:data.content.properties.r_object_type == 'dm_document' ? 'fa fa-file-pdf-o' : 'glyphicon glyphicon-folder-close';"></i>
                    </td>
                    <td>{{data.title}}</td>
                    <td>{{data.content.properties.r_creation_date}}</td>
                    <td>{{data.author[0].name}}</td>

                </tr>
                <tr>
                    <td colspan="4" ng-if="lastDocuments.length == 0" translate>no_last_documents</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
